In [35]:
import pandas as pd

df_base = pd.read_csv('train.csv')
df_fuel = pd.read_csv('vehicles.csv')

/var/folders/1l/mn29vnvd3lq7lf0nw2y08j400000gn/T/ipykernel_57987/2771047252.py:5: DtypeWarning: Columns (74,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fuel = pd.read_csv('vehicles.csv')

In [36]:
df_base

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [37]:
df_fuel

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48346,13.523182,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48347,12.935217,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48348,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48349,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48350,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

Fist we standardize the names since df_base uses "Manufacturer", "Model" and df_fuel uses "make", "model". To maximize the matches between the dfs, we clean the model and manufacturing names, and then merge on both columns, ensuring we keep only *comb08* from df_fuel so that each row in df_base has a value.

In [40]:
#renaming columns in df_fuel to match df_base
df_fuel = df_fuel.rename(columns={
    'make': 'Manufacturer',
    'model': 'Model'
})

In [ ]:
# maximizing the number of matches between the dfs Manufacturer and Model columns by lowercasign and removing whitespace
df_base['Manufacturer'] = df_base['Manufacturer'].str.lower()
df_base['Model'] = df_base['Model'].str.lower()
df_fuel['Manufacturer'] = df_fuel['Manufacturer'].str.lower() 
df_fuel['Model'] = df_fuel['Model'].str.lower()

df_base['Manufacturer'] = df_base['Manufacturer'].str.strip()
df_base['Model'] = df_base['Model'].str.strip()
df_fuel['Manufacturer'] = df_fuel['Manufacturer'].str.strip()
df_fuel['Model'] = df_fuel['Model'].str.strip()

df_base['Manufacturer'] = df_base['Manufacturer'].str.replace('\s+', ' ', regex=True)
df_base['Model'] = df_base['Model'].str.replace('\s+', ' ', regex=True)
df_fuel['Manufacturer'] = df_fuel['Manufacturer'].str.replace('\s+', ' ', regex=True)
df_fuel['Model'] = df_fuel['Model'].str.replace('\s+', ' ', regex=True)

In [43]:
#merging on both manufacturer and model, we only keep comb08 from the df_fuel
df_base = df_base.merge(df_fuel[['Manufacturer', 'Model', 'comb08']], on=['Manufacturer', 'Model'], how='left')

In [60]:
#drop the nulls on comb08
df_base = df_base.dropna(subset=['comb08'])

In [61]:
# Count the number of vehicles for each manufacturer
print(df_base['Manufacturer'].value_counts())

hyundai          219478
toyota           166813
volkswagen        59399
honda             52780
chevrolet         25576
kia               16226
ford              15685
nissan             8629
bmw                7931
lexus              7691
audi               6693
dodge              2277
mitsubishi         1753
porsche            1210
suzuki             1200
fiat               1075
land rover         1000
jaguar              729
mazda               721
buick               685
chrysler            673
subaru              672
mini                402
cadillac            284
daewoo              170
lincoln             143
acura               142
scion               114
infiniti             79
volvo                77
mercury              58
mercedes-benz        52
rolls-royce          42
bentley              37
pontiac              32
maserati             20
isuzu                 4
lamborghini           4
tesla                 3
aston martin          1
Name: Manufacturer, dtype: int64

In [59]:
print("Number of vehicles by model:")
print(df_base['Model'].value_counts())

Number of vehicles by model:
camry        124754
sonata       123006
elantra       91278
jetta         40803
civic         28424
              ...
amg gt s          2
sonata se         2
virage            1
550 gt            1
rs6               1
Name: Model, Length: 237, dtype: int64

In [58]:
print("Unique manufacturers:", df_base['Manufacturer'].nunique())
print("Unique models:", df_base['Model'].nunique())

Unique manufacturers: 40
Unique models: 237

Assuming we have a database called TBD with two tables "Cars" and "Fuel Efficiency per Car" (here df_base ad df_fuel), we can SQL query the above performed merging and joining of the database as follows:

```sql
SELECT c.*, f.comb08
FROM df_base c
INNER JOIN df_fuel f
    ON LOWER(TRIM(REGEXP_REPLACE(c.Manufacturer, '\s+', ' '))) = 
       LOWER(TRIM(REGEXP_REPLACE(f.Manufacturer, '\s+', ' ')))
    AND LOWER(TRIM(REGEXP_REPLACE(c.Model, '\s+', ' '))) = 
        LOWER(TRIM(REGEXP_REPLACE(f.Model, '\s+', ' ')));